apiVersion: v1
kind: Secret
metadata:
  name: rapp-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "changeme"
  MYSQL_DATABASE: "rapptycoon"
  MYSQL_USER: "rapptycoon"
  MYSQL_PASSWORD: "changeme"
  INTERNAL_API_KEY: "changeme"
